<app-container-padrao titulo="Categorias">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categorias">
              <th>{{categoria.descricao}}</th>
              <th>  <button class="btn btn-danger btn-sm mr-2">Remover</button>
                    <button class="btn btn-primary btn-sm mr-2" [routerLink] = "['editar', categoria.id]">Editar</button>
            </th>
            </tr>
          </tbody>
        </table>
      </app-container-padrao>